

body {
    background: #fcf4e6;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    font-family: "Familjen Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow-y: hidden;
    height: 100vh;
    overflow-x: scroll;
}

.slide {
    height: 100vh;
    min-width: 100vw; /*slide is 100% of the viewport width */
    overflow-y: hidden;
    overflow-x: visible;
}

.wrapper {
    display: flex; /*slides in a row */
    flex-direction: row;
    overflow-x: auto; /*horizontal scrolling */
    /* scroll-behavior: smooth;  */
    /* width: 1000vw; */
}
    /* position:relative;
    max-height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    transform: rotate(90deg) translateX(100vh);
    transform-origin: top left; 

}

  .outer-wrapper {
    width: 100vh;  
    height: 100vw; 
    transform: rotate(-90deg) translateX(-100vh); 
    transform-origin: top right; 
    overflow-y: scroll; 
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
} 

::webkit-scrollbar{
    display: none;
} 


/* TITLE SLIDE */

.title {
    background: #fcf4e6;
}

h2 {
    position:fixed;
    font-size: 100px;
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 31,
      "SCAN" -32;
}

#top-title {
    position: relative; 
    transform: rotate(-15deg); 
    left: -100px;
    top: -120px; 
    display: inline-block; 
    white-space: nowrap;
    margin: 0; 
}

.line {
    display: inline-block; 
    width: 100%;
    line-height: 1.1; 
}

h1 {
    position: fixed;
    left: 0px;
    top: 0px;
}

.title h1 {
    line-height: 1;
    font-family: "Workbench", sans-serif;
    font-size: 120px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "BLED" 0, "SCAN" 20;
    transform: rotate(-15deg); 
    position: relative;
    display: block;
    padding: 0; 
    left: 200px;
    top: -350px;
}

#bottom-title {
    position: relative;
    transform: rotate(-15deg); 
    display: inline-block; 
    margin: 0;
    left: -100px;
    top: -250px;
}

h3 {
    font-size: 30px;
    transform: rotate(-15deg);
    position:relative;
    display: inline-block;
    left: 140px;
    top: -610px;
    text-align: right;
}

time{
    display: inline-block;
    position: relative;
    font-size: 24px;
    transform: rotate(75deg);
    top: -840px;
    left: -1140px;
}

address {
    display: inline-block;
    position: relative;
    font-size: 24px;
    transform: rotate(-15deg);
    top: -1140px;
    left: -330px;

}

.slide.title{
    width:100vw;
}
/* .title {
    background: #fcf4e6;
}

h1{
    position:absolute;
} */

/* h2 {
    position: absolute; */
    /* position: relative; */
    /* font-size: 100px;
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 31,
      "SCAN" -32;
} */

/* #top-title { */
    /* position: absolute;  */
    /* position: relative;
    transform: rotate(-15deg); 
    left: -100px;
    top: -120px; 
    display: inline-block; 
    white-space: nowrap;
    margin: 0; 
} */
/* 
.line {
    display: inline-block; 
    width: 100%;
    line-height: 1.1; 
} */


/* .title h1 {
    line-height: 1;
    font-family: "Workbench", sans-serif;
    font-size: 120px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "BLED" 0, "SCAN" 20;
    transform: rotate(-15deg);  */
    /* position: absolute; */
    /* position:relative;
    display: inline-block;
    padding: 0; 
    top: -280px;
    left: 200px;
    white-space: nowrap;
} */

/* #bottom-title { */
    /* position: absolute; */
    /* position: relative;
    transform: rotate(-15deg); 
    display: inline-block; 
    margin: 0;
    left: 100px;
    top: 0px;
} */

/* h3{
    font-size: 30px;
    transform: rotate(-15deg);
    position:relative;
    display: inline-block;
    left: 950px;
    top: 400px;
    text-align: right;
} */

/* time{
    display: inline-block;
    position: relative;
    font-size: 24px;
    transform: rotate(75deg);
    top: 180px;
    left: -340px;
} */

/* address {
    display: inline-block;
    position: relative;
    font-size: 24px;
    transform: rotate(-15deg);
    top: -120px;
    left: 450px;

} */


/* INTRODUCTION */
.intro {
    margin: 5px;
    font-size: 18px;
}

#intro-title{
    padding: 5px;
    line-height: 1;
    font-family: "Workbench", sans-serif;
    font-size: 50px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "BLED" 0, "SCAN" 20;
    position: relative;
    display: inline-block;
    top: -15px;
}

.intro p:nth-child(2){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 340px;
    top: -140px;
}

.intro p:nth-child(3){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 340px;
    top: -140px;
}

.intro p:nth-child(4){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 340px;
    top: -140px;
}

.intro p:nth-child(5){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 340px;
    top: -140px;
}

.intro p:nth-child(6){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 880px;
    top: -770px;
}

.intro p:nth-child(7){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 880px;
    top: -770px;
}


/* 10 PRINCIPLES */
/* will fix later */
.principles {
    background: black;
    color: white;
}

h1, p{
    padding: 50px;
}


/* MODERNISM'S ODE TO WHITE SUPREMACY*/

.slide.modernism {
    /* background-color: #f0f0f0;  */
    /* width: 10000vw; */
    /* overflow-x: scroll; */
    overflow-x: visible;
}

.modernism{
    margin-left: 20px;
    font-size: 18px;
    overflow-x: auto; 
    height: 100%;
    min-width: 100%;
    overflow: visible;
}

#modernism-title{
    padding: 5px;
    line-height: 1;
    font-family: "Workbench", sans-serif;
    font-size: 80px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "BLED" 0, "SCAN" 20;
    position: relative;
    display: inline-block;
    top: -50px;
}

.modernism p {
    position: absolute;
    padding: 5px;
    width: 30%; 
}

.modernism p:nth-child(2){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 100px;
    top: -100px;
}

.modernism p:nth-child(3){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 100px;
    top: -100px;
}

.modernism p:nth-child(4){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 100px;
    top: -100px;
}

.modernism p:nth-child(5){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 650px;
    top: -634px;
}

.modernism p:nth-child(6){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 650px;
    top: -634px;
}

.modernism p:nth-child(7){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 650px;
    top: -634px;
}

.modernism p:nth-child(8){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 1200px;
    top: -1145px;
}

.modernism p:nth-child(9){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 1200px;
    top: -1145px;
}

.modernism p:nth-child(10){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 1200px;
    top: -1145px;
}

.modernism p:nth-child(11){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 1750px;
    top: -1679px;
}

.modernism p:nth-child(12){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 1750px;
    top: -1679px;
}

.modernism p:nth-child(13){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 2300px;
    top: -2185px;
}

.modernism p:nth-child(14){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 2300px;
    top: -2185px;
}

.modernism p:nth-child(15){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 2300px;
    top: -2185px;
}

.modernism p:nth-child(16){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 2300px;
    top: -2185px;
}

.modernism p:nth-child(17){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 2850px;
    top: -2728px;
}

.modernism p:nth-child(18){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 2850px;
    top: -2728px;
}


/* MODERNISM QUOTE */
.modernism-quote{
    background: black;
    color: #fcf4e6;
    left: 2000px;
    font-size: 30px;
    position:relative;
}

#modernquote{
    margin: 50px;
    width: 600px;
    position:relative;
    top: 350px;
} 


/* FLAT DESIGN */
.slide.flat{
    position:relative;
    left: 2000px;
    overflow-x: visible;
    min-width: 240%;
    min-height:100vw;
    overflow: auto;
}

#flat-title{
    padding: 5px;
    line-height: 1;
    font-family: "Workbench", sans-serif;
    font-size: 70px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "BLED" 0, "SCAN" 20;
    position: relative;
    display: inline-block;
    top:570px;
    left: 20px;
    margin: 20px;
}


.flatdesign {
    margin-left: 20px;
    font-size: 18px;
    height: 100%;
    overflow: visible;   
    overflow-x: visible;
    min-width: 100%; 
    overflow-x: scroll; 
    overflow-y: hidden;

}

.flat p {
    position: absolute;
    padding: 5px;
    font-size: 18px;

}

.flat p:nth-child(2){
    position:relative;
    padding: 5px;
    width: 500px;;
    left: 100px;
    top: -100px;
}

.flat p:nth-child(3){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 100px;
    top: -100px;
}

.flat p:nth-child(4){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 100px;
    top: -100px;
}

.flat p:nth-child(5){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 650px;
    top: -613px;
}

.flat p:nth-child(6){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 650px;
    top: -613px;
}

.flat p:nth-child(7){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 650px;
    top: -613px;
}

.flat p:nth-child(8){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 1200px;
    top: -1150px;
}

.flat p:nth-child(9){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 1200px;
    top: -1150px;
}

.flat p:nth-child(10){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 1200px;
    top: -1150px;
}

.flat p:nth-child(11){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 1200px;
    top: -1150px;
}

.flat p:nth-child(12){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 1750px;
    top: -1690px;
}

.flat p:nth-child(13){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 1750px;
    top: -1690px;
}

.flat p:nth-child(14){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 1750px;
    top: -1690px;
}

.flat p:nth-child(15){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 2300px;
    top: -2247px;
}

.flat p:nth-child(16){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 2300px;
    top: -2247px;
}

.flat p:nth-child(17){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 2300px;
    top: -2247px;
}

.flat p:nth-child(18){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 2850px;
    top: -2805px;
}

.flat p:nth-child(19){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 2850px;
    top: -2805px;
}


/* FLAT DESIGN QUOTE */
.flatdesign-quote{
    background: black;
    color: #fcf4e6;
    left: 2000px;
    font-size: 30px;
    position:relative;
}

#flatquote{
    margin: 50px;
    width: 600px;
    position:relative;
    top: 0px;
} 


/* CONCLUSION */
.slide.conclusion {
    overflow-x: visible;
    min-width: 100%;
    min-height:100vw;
    overflow: auto;
}

.conclusion {
    margin: 20px;
    font-size: 18px;
    position: relative;
    left: 2000px;
}

#conclusion-title{
    padding: 5px;
    margin: 20px;
    line-height: 1;
    font-family: "Workbench", sans-serif;
    font-size: 50px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "BLED" 0, "SCAN" 20;
    position: relative;
    display: inline-block;
    top: 50px;
}

.conclusion p:nth-child(2){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 340px;
    top: -50px;
}

.conclusion p:nth-child(3){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 340px;
    top: -50px;
}

.conclusion p:nth-child(4){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 340px;
    top: -50px;
}

.conclusion p:nth-child(5){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 880px;
    top: -515px;
}

.conclusion p:nth-child(6){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 880px;
    top: -515px;
}

.conclusion p:nth-child(7){
    position:relative;
    padding: 5px;
    width: 500px;
    left: 880px;
    top: -515px;
}


/* REFLECTION */
.slide.reflection {
    display: block;
    overflow-x: visible;
    position: relative;
    left: 2000px;
    min-width: 250%;
    min-height:100vw;
    overflow: auto;
}

.reflection{
    background: black;
    color: #fcf4e6;
    margin-left: 20px;
    font-size: 18px;
    overflow-x: auto; 
    height: 100%;
    min-width: 100%;
    overflow: visible;
}

#reflection-title{
    padding: 5px;
    line-height: 1;
    font-family: "Workbench", sans-serif;
    font-size: 120px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "BLED" 0, "SCAN" 20;
    position: relative;
    display: inline-block;
    top: 180px;
    left: -200px;
    transform: rotate(-90deg);
}

#me {
    transform: rotate(-90deg);
    position: relative;
    top: -50px;
    left: -530px;
}

.reflection p {
    position: absolute;
    padding: 5px;
    width: 30%; 
    left: 300px;
}

.reflection p:nth-child(3){
    position:relative;
    padding: 5px;
    width: 500px;
    top: -300px;
}

.reflection p:nth-child(4){
    position:relative;
    padding: 5px;
    width: 500px;
    top: -300px;
}

.reflection p:nth-child(5){
    position:relative;
    padding: 5px;
    width: 500px;
    top: -300px;
}

.reflection p:nth-child(6){
    position:relative;
    padding: 5px;
    width: 500px;
    top: -925px;
    left: 850px;
}

.reflection p:nth-child(7){
    position:relative;
    padding: 5px;
    width: 500px;
    top: -925px;
    left: 850px;
}

.reflection p:nth-child(8){
    position:relative;
    padding: 5px;
    width: 500px;
    top: -925px;
    left: 850px;
}

.reflection p:nth-child(9){
    position:relative;
    padding: 5px;
    width: 500px;
    top: -1550px;
    left: 1400px;
}

.reflection p:nth-child(10){
    position:relative;
    padding: 5px;
    width: 500px;
    top: -1550px;
    left: 1400px;
}

.reflection p:nth-child(10){
    position:relative;
    padding: 5px;
    width: 500px;
    top: -1550px;
    left: 1400px;
}

.reflection p:nth-child(11){
    position:relative;
    padding: 5px;
    width: 500px;
    top: -2170px;
    left: 1950px;
}

.reflection p:nth-child(12){
    position:relative;
    padding: 5px;
    width: 500px;
    top: -2170px;
    left: 1950px;
}

.reflection p:nth-child(13){
    position:relative;
    padding: 5px;
    width: 500px;
    top: -2170px;
    left: 1950px;
}

.reflection p:nth-child(14){
    position:relative;
    padding: 5px;
    width: 500px;
    top: -2800px;
    left: 2500px;
}

.reflection p:nth-child(15){
    position:relative;
    padding: 5px;
    width: 500px;
    top: -2800px;
    left: 2500px;
}

.reflection p:nth-child(16){
    position:relative;
    padding: 5px;
    width: 500px;
    top: -3420px;
    left: 3050px;
}

.reflection p:nth-child(17){
    position:relative;
    padding: 5px;
    width: 500px;
    top: -3420px;
    left: 3050px;
}






















































