@import url('https://fonts.googleapis.com/css2?family=Workbench:SCAN@20&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');

* {
    box-sizing: border-box; 
}

html {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

::selection {
    color: #fcf4e6;
    background-color: black;
}

body {
    background: #fcf4e6;
    margin: 0;
    padding: 0;
    font-family: "Familjen Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    height: 100vh;
    overflow-x: scroll; 
	margin-bottom: -100px;
}


.wrapper {
    display: flex; /* slides in a row */
    flex-direction: row;
    overflow-x: auto; /* horizontal scrolling */
    height: 100vh;
    overflow-y: hidden; 
}

.slide {
    height: 100vh;
    scroll-snap-align: start;
    flex-basis: 95vw;
    flex-shrink: 0;
    position: relative;
    overflow-y: auto;
    margin-bottom: 0;
}


/* MENU */
.dropbtn1 {
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 1.5rem;
    font-family: "Workbench", sans-serif; 
    line-height: 1; 
    position: relative; 
    z-index: 10; 
    float: right; 
	position: sticky;
	border: none;
	background-color: none;
	scale: 1.5;
}

.dropdown1 {
    position: relative; 
    float: right; 
	margin-top: 0.5rem;
	margin-right: 1.5rem;
}

.dropdown-content1 {
    display: none; 
    position: absolute; 
    background-color: black;
    min-width: 160px; 
	box-shadow: 
    0px          /* horizontal offset */
    8px          /* vertical offset */
    16px         /* blur radius */
    10px          /* spread radius */
    rgba(0, 0, 0, 0.2); /* black with 20% opacity */
    z-index: 1; 
    top: 100%; 
    right: 0; 
	border-radius: 12px;
}

.dropdown-content1 a {
	color: #fcf4e6;
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
	border-radius: 10px;
}

.dropdown-content1 a:hover {
    background-color: #fcf4e6;
	color: black;
	/* border: dashed 3px; */
	mix-blend-mode: screen;
}

.dropdown1:hover .dropdown-content1 {
    display: block; 
}

.dropdown1:hover .dropbtn1 {
    color: #fcf4e6;
	-webkit-text-stroke: 1px black;
    cursor: pointer; 
    /* border: dashed 3px; 
    border-radius: 10px;  */
}


/* TITLE SLIDE */
.slide.title {
    width: 100vw; 
    padding: 0; 
    margin: 0;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
	overflow-x: hidden; 
}

header{
    top: -4rem;
	position:relative;
	/*bottom: 3rem; */
    height: 100%;
    margin-bottom: 200px;
}

h1, h2, h3, address, time {
    margin: 0; 
    padding: 0; 
}

.title h1 {
    font-family: "Workbench", sans-serif; 
    font-size: 7.5rem;
    line-height: 1; 
    transform: rotate(-15deg); 
    position: relative;
    left: 10rem;
	bottom: 10rem;
}

#articlelink:link {
	color: black;
	text-decoration: none;
  }


#articlelink:visited{
	color: black;
	text-decoration: none;
}

#articlelink:hover {
	color: #fcf4e6;
	-webkit-text-stroke: 3px black;
}
  
 
#top-title {
    position: relative; 
    transform: rotate(-15deg); 
    left: -10rem;
    top: -7rem; 
    white-space: nowrap;
    margin: 0;
}

h2 {
    font-family: "Workbench", sans-serif; 
    font-size: 6rem;
    font-variation-settings: "BLED" 31, "SCAN" -32;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#bottom-title {
    position: relative;
    transform: rotate(-15deg); 
    margin: 0;
    left: -5rem;
    bottom: 3rem;
    white-space: nowrap;
}

h3 {
    font-size: 2rem;
    transform: rotate(-15deg);
    position: absolute; 
    left: 58rem;
    top: 29rem;
    text-align: right;
    white-space: nowrap;
}

 @media (min-width: 1680px) {
    h3 {
        left: 60rem; 
        top: 32rem;   
    }
} 

time {
    display: block;
    position: absolute; 
    font-size: 1.75rem;
    transform: rotate(75deg);
    left: 1.5rem;
	bottom: 17rem;
    font-style: italic;
}

@media (min-width: 1680px) {
    time {
        left: 1rem; 
        bottom: 28rem;   
    }
} 

address {
    display: block;
    position: relative; 
    font-size: 1.75rem;
    transform: rotate(-15deg);
    left: 50rem;
	top: -65rem;
}

#back-to-top1 {
    position: sticky;
    z-index: 100;
    cursor: pointer;
	top: 90vh;
	padding-left: 3rem;
    /* margin-top: 2rem; */
}

#back-to-top1:link {
	color: black;
	text-decoration: none;
  }


#back-to-top1:visited{
	color: black;
	text-decoration: none;
}

#back-to-top1:hover {
	opacity: 50%;
}


.introduction {
    position: relative;
    margin-left: 20rem;
    font-size: 1.4rem;
    padding: 1rem; 
    width: 55vw;
    left: 10rem;
    line-height: 1.4;
	/* bottom: 15rem; */
	margin-right: 2rem;
}

.introduction p{
	margin-bottom: 50px;
}

/* 10 PRINCIPLES  */
.slide.principles {
    background: black;
    color: #fcf4e6;
    width: 100vw; 
    padding: 0; 
    margin: 0;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    overflow: hidden;
}

/* menu */
.dropbtn2 {
    background-color: transparent;
    color: #fcf4e6;
    padding: 16px;
    font-size: 1.5rem;
    line-height: 1; 
    position: relative; 
    z-index: 10; 
    float: right; 
	position: sticky;
	border: none;
	background-color: none;
	scale: 1.5;
    position:relative;
}

.dropdown2 {
    position: relative; 
    float: right; 
	margin-top: 0.5rem;
	margin-right: 1.5rem;
}

.dropdown-content2 {
    display: none; 
    position: absolute; 
    background-color: #fcf4e6;
    min-width: 160px; 
	box-shadow: 
    0px          /* horizontal offset */
    8px          /* vertical offset */
    16px         /* blur radius */
    10px          /* spread radius */
    rgba(0, 0, 0, 0.2); /* black with 20% opacity */
    z-index: 1; 
    top: 100%; 
    right: 0; 
	border-radius: 12px;
}

.dropdown-content2 a {
	color: black;
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
	border-radius: 10px;
}

.dropdown-content2 a:hover {
    background-color: black;
	color: #fcf4e6;
	/* mix-blend-mode: multiply; */
    opacity: 80%;
}

.dropdown2:hover .dropdown-content2 {
    display: block; 
}

.dropdown2:hover .dropbtn2 {
    color: black;
	-webkit-text-stroke: 1px #fcf4e6;
    cursor: pointer; 
}

/* content */
#ten-principles{
    position: relative;
    font-size: 7rem;
    padding-right: 2rem;
    text-align: right;
    top: 24rem;
}

ul{
    list-style-type:none;
    font-size: 1.5rem;
    line-height: 1.5;
    position: absolute;
    bottom: 16rem;
}

@media (min-width: 1680px) {
    ul {
        bottom: 25rem;  
    }
} 

.principle:hover {
    position: relative;
    cursor: pointer;
    text-decoration: underline;
}

ul li:nth-of-type(1) .principle:hover::after {
    content: " → disruptive"; 
}

ul li:nth-of-type(2) .principle:hover::after {
    content: " → addicting"; 
}

ul li:nth-of-type(3) .principle:hover::after {
    content: " → A/B testing"; 
}

ul li:nth-of-type(4) .principle:hover::after {
    content: " → collect data"; 
}

ul li:nth-of-type(5) .principle:hover::after {
    content: " → notifications"; 
}

ul li:nth-of-type(6) .principle:hover::after {
    content: " → agreeing to the terms and conditions"; 
}

ul li:nth-of-type(7) .principle:hover::after {
    content: " → temporary"; 
}

ul li:nth-of-type(8) .principle:hover::after {
    content: " → a prototype"; 
}

ul li:nth-of-type(9) .principle:hover::after {
    content: " → a chatbot?"; 
}

ul li:nth-of-type(10) .principle:hover::after {
    content: " → pleasing your shareholders"; 
}

.principle:hover::after {
    background-color:#fcf4e6;
    color:black;
    font-weight: bold;
    margin-left: 10px;
    padding: 0.3rem;
    padding-right: 0.5rem;
    border-radius: 10px;
}

h4{
    position: relative;
    font-style: italic;
    margin:2rem;
    font-size: 2rem;
    top: 19rem;
}


/* MODERNISM */

.slide.modernism {
    width: 100vw; 
    padding: 0; 
    margin: 0;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    overflow-x: hidden; 
    overflow-y: auto; 
    height: 100vh; 
}

#modernism-title {
    padding: 2rem;
    width: 45%;
    line-height: 1;
    font-family: "Workbench", sans-serif;
    font-size: 5rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "BLED" 0, "SCAN" 20;
    position: sticky;
    top: 0; 
    display: inline-block;
    z-index: 10; 
    margin-top: 0;
}

@media (min-width: 1680px) {
    #modernism-title {
        margin-right: 2rem;
        width: 70%;   
    }
} 

.modernismsode {
    position: relative;
    margin-left: 10rem;
    font-size: 1.4rem;
    padding: 1rem; 
    width: 53vw;
    left: 25rem;
    line-height: 1.4;
    margin-right: 3rem; 
}

.modernismsode p{
	margin-bottom: 50px;
}

@media (min-width: 1680px) {
    #modernismsode{
        left: 30rem;   
    }
} 



#back-to-top2 {
    position: sticky;
    /* right: 50px;  */
    z-index: 100;
    cursor: pointer;
	/* top: 10vh; */
	/* left: -10px; */
	padding-left: 2rem;
    bottom: 5vh;
}

#back-to-top2:link, #back-to-top2:visited {
	color: black;
	text-decoration: none;
  }


#back-to-top2:hover {
	opacity: 50%;
}

.dropbtn3 {
    background-color: transparent; 
    color: black;
    padding: 16px;
    font-size: 1.5rem;
    font-family: "Workbench", sans-serif; 
    line-height: 1; 
    position: relative; 
    z-index: 10; 
    float: right; 
    border: none; 
    scale: 1.5; 
}

.dropdown3 {
    position: relative; 
    float: right; 
    margin-top: 0.5rem;
    margin-bottom: 0;
    margin-right: 1.5rem;
    bottom: 19rem;
}

@media (min-width: 1680px) {
    .dropdown3{
        bottom: 10rem;   
    }
} 

.dropdown-content3 {
    display: none; 
    position: absolute; 
    background-color: black;
    min-width: 160px; 
    box-shadow: 
        0px          /* horizontal offset */
        8px          /* vertical offset */
        16px         /* blur radius */
        10px          /* spread radius */
        rgba(0, 0, 0, 0.2); /* black with 20% opacity */
    z-index: 1; 
    top: 100%; 
    right: 0; 
    border-radius: 12px;
}

.dropdown-content3 a {
    color: #fcf4e6;
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
    border-radius: 10px;
}

.dropdown-content3 a:hover {
    background-color: #fcf4e6;
    color: black;
    mix-blend-mode: screen;
}

.dropdown3:hover .dropdown-content3 {
    display: block; 
}

.dropdown3:hover .dropbtn3 {
    color: #fcf4e6;
    -webkit-text-stroke: 1px black;
    cursor: pointer; 
}


/* MODERNISM QUOTE */
.modernism-quote{
    background: black;
    color: #fcf4e6;
    font-size: 1.5rem;
    position:relative;
    overflow: hidden;
}

#modernquote{
    margin:3rem;
    width: 40vw;
    position:relative;
    top: 65vh;
} 

#messy-modern-quote {
    font-family: "Workbench", sans-serif; 
    font-size: 1.8rem;
    font-variation-settings: "BLED" 31, "SCAN" -32;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 40%;
    text-align: justify;
    position: relative;
    bottom: 25rem;
    left: 50rem;
}

@media (min-width: 1680px) {
    #messy-modern-quote {
        bottom: 0;   
        left: 60rem;
        font-size: 2rem;
    }
} 



/* FLAT DESIGN */
.slide.flat {
    width: 100vw; 
    padding: 0; 
    margin: 0;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    overflow-x: hidden; 
    overflow-y: auto; 
    height: 100vh; 
}

#flat-title {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 40%;
    line-height: 1;
    font-family: "Workbench", sans-serif;
    font-size: 5rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "BLED" 0, "SCAN" 20;
    position: sticky;
    top: 0; 
    display: inline-block;
    z-index: 10; 
    margin-top: 0;
    align-self: flex-end;
    margin-left: 2rem;
}

.flatdesign {
    position: relative;
    margin-left: 3rem; 
    font-size: 1.4rem;
    padding: 1rem; 
    width: 52vw;
    left: 0rem; 
    line-height: 1.4;
    margin-right: 25rem; 
}

.flatdesign p {
    margin-bottom: 50px;
}

#link:link {
	color: black;
}


#link:visited{
	color: black;
}

#link:hover {
	opacity: 50%;
}
  

#back-to-top3 {
    position: sticky;
    z-index: 100;
    cursor: pointer;
    padding-left: 0; 
    padding-right: 2rem; 
    bottom: 5vh;
    left: 80vw;
    text-align: right;
}

#back-to-top3:link, #back-to-top3:visited {
    color: black;
    text-decoration: none;
}

#back-to-top3:hover {
    opacity: 50%;
}

.dropbtn4 {
    background-color: transparent; 
    color: black;
    padding: 16px;
    font-size: 1.5rem;
    font-family: "Workbench", sans-serif; 
    line-height: 1; 
    position: relative; 
    z-index: 10; 
    float: left; 
    border: none; 
    scale: 1.5;
}

.dropdown4 {
    position: relative;
    float: left; 
    margin-top: 0.5rem;
    margin-bottom: 0;
    margin-left: 1.5rem; 
    bottom: 19rem;
}

.dropdown-content4 {
    display: none;
    position: absolute; 
    background-color: black;
    min-width: 160px;
    box-shadow: 
        0px 8px 16px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0; 
    border-radius: 12px;
}

.dropdown-content4 a {
    color: #fcf4e6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}

.dropdown-content4 a:hover {
    background-color: #fcf4e6;
    color: black;
    mix-blend-mode: screen;
}

.dropdown4:hover .dropdown-content4 {
    display: block;
}

.dropdown4:hover .dropbtn4 {
    color: #fcf4e6;
    -webkit-text-stroke: 1px black;
    cursor: pointer;
}

/* FLAT DESIGN QUOTE */
.flat-quote{
    background: black;
    color: #fcf4e6;
    font-size: 1.5rem;
    position:relative;
    overflow: hidden;
}

#flatquote{
    margin:3rem;
    width: 40vw;
    position:relative;
    top: 62vh;
    text-align: right;
    float: right;
} 

#messy-flat-quote {
    font-family: "Workbench", sans-serif; 
    font-size: 1.8rem;
    font-variation-settings: "BLED" 31, "SCAN" -32;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 40%;
    text-align: justify;
    position: relative;
    bottom: 10rem;
    left: 2rem;
}

@media (min-width: 1680px) {
    #messy-flat-quote {
        bottom: 0;
        font-size: 2rem;
    }
} 


/* CONCLUSION */
.slide.conclusion {
    width: 100vw; 
    padding: 0; 
    margin: 0;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    overflow-x: hidden; 
    overflow-y: auto; 
    height: 100vh; 
}

.conclusion-wrapper {
    display: flex; 
    width: 100%; 
}

#conclusion-title {
    width: 100%; 
    padding: 2rem;
    line-height: 1;
    font-family: "Workbench", sans-serif;
    font-variation-settings: "BLED" 0, "SCAN" 20;
    font-size: 8rem;
    font-weight: 400;
    margin: 0; 
    text-align: center; 
    position: relative;
}

.conclusion-container {
    position: relative;
    width: 70%; 
    height: 80vh; 
    overflow-y: auto; 
    padding-top: 2rem;
    left: 0;
    margin-left: -5rem; 
    margin-right: 2rem;
}

.conclusion {
    font-size: 1.4rem;
    line-height: 1.4;
    margin-left: 0; 
}

.conclusion p{
    margin-bottom: 50px;
    width: 90%;
}

aside {
    display: block;
    position: sticky; 
    top: 1rem; 
    width: 40%; 
    font-size: 1rem;
    font-style: italic;
    margin-left: 2rem; 
    padding-top: 2rem; 
    left: 65rem;
}

aside cite {
    display: block;  
    margin-bottom: 1rem; 
}

@media (min-width: 1680px) {
    #aside {
        left: 100rem;   
    }
} 

.dropbtn5 {
    background-color: transparent; 
    color: black;
    padding: 16px;
    font-size: 1.5rem;
    font-family: "Workbench", sans-serif; 
    line-height: 1; 
    position: relative; 
    z-index: 10; 
    border: none;
    scale: 1.5;
}

.dropdown5 {
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 0;
    margin-left: 1.5rem; 
}

.dropdown-content5 {
    display: none;
    position: absolute; 
    background-color: black;
    min-width: 160px;
    z-index: 20; 
    top: 100%; 
    left: 0; 
    border-radius: 12px;
    font-size: 1rem;
}

.dropdown-content5 a {
    color: #fcf4e6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    box-shadow: 
    0px 8px 16px 10px rgba(0, 0, 0, 0.2);
}

.dropdown-content5 a:hover {
    background-color: #fcf4e6;
    color: black;
}

.dropdown5:hover .dropdown-content5 {
    display: block;
}

.dropdown5:hover .dropbtn5 {
    color: #fcf4e6;
    -webkit-text-stroke: 1px black;
    cursor: pointer;
}

#conclusion-title:hover {
    pointer-events: none; 
} 

/* REFLECTION */
.slide.reflection{
    background: black;
    color: #fcf4e6;
    font-size: 1.5rem;
    position:relative;
    overflow-x: hidden;
}

#top-reflection-title {
    display: block;
    font-size: 8rem;
    transform: rotate(15deg);
    position: relative;
    left: 50rem;
    top: 5rem;
}

#reflection-title {
    display: block;
    width: 60%; 
    padding: 2rem;
    font-family: "Workbench", sans-serif;
    font-variation-settings: "BLED" 0, "SCAN" 20;
    font-size: 8rem;
    font-weight: 400;
    margin: 0; 
    position: relative;
    transform: rotate(15deg);
    left: 35rem;
    bottom: 8rem;
} 

#bottom-reflection-title {
    display: block;
    font-size: 8rem;
    transform: rotate(15deg);
    position: relative;
    left: 50rem;
    bottom: 4rem;
}

.reflection {
    position: relative;
    font-size: 1.4rem;
    line-height: 1.4;
    padding-left: 3rem;
    width: 60%;
    /* padding-top: 5rem; */
    /* padding-bottom: 10rem; */
}

.reflection p{
    margin-bottom: 50px;
    width: 90%;
}  



